USE [master]
GO
/****** Object:  Database [tareas]    Script Date: 14/09/2023 18:14:15 ******/
CREATE DATABASE [tareas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tareas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\tareas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tareas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\tareas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tareas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tareas]
GO
/****** Object:  Table [dbo].[task]    Script Date: 14/09/2023 18:14:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task](
	[idTarea] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [varchar](200) NULL,
	[prioridad] [varchar](50) NULL,
	[taskComplete] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[task] ON 

INSERT [dbo].[task] ([idTarea], [nombre], [descripcion], [prioridad], [taskComplete]) VALUES (28, N'Realizar Api ASP.Net', N'Crear una api para gestionar tarreas con ASP.NET', N'Alta', 0)
INSERT [dbo].[task] ([idTarea], [nombre], [descripcion], [prioridad], [taskComplete]) VALUES (30, N'Realizar Front', N'Realizar frond con Angular', N'Alta', 0)
INSERT [dbo].[task] ([idTarea], [nombre], [descripcion], [prioridad], [taskComplete]) VALUES (31, N'App contar caracteres', N'realizar una app para cotar caracteres ', N'Alta', 1)
SET IDENTITY_INSERT [dbo].[task] OFF
GO
USE [master]
GO
